{% extends "network/layout.html" %}
{% load static %}



{% block body %}



<h1 id="following-people-post">People's Post being followed by you</h1>








  {% for post in posts %}

   <div class="post-styling-following">

    <p id="post-owner">{{post.post_owner|capfirst}}</p>
    <img id="post-image" src="{{post.imageURL}}" alt="">
    <p id="post-content">{{post.post_content}}</p>
    <p id="post-time">{{post.timestamp}}<p>

   </div>
  
  
  
  
  {% endfor %}


 
{% endblock %}


{% block script %}
    <script src="{% static 'network/twitter.js' %}"></script>
{% endblock %}




