{% extends "network/layout.html" %}
{% load static %}

{% block body %}





{% if user.is_authenticated %}


<h1 id="feed">feed</h1>




        <div class="container" id="post-list">
        </div>

        <div class="main-container">


                <img id="profile-image" src="{% static 'images/profile.png' %}" alt="">
                <p id="username">princy</p>
                <p id="posts">Posts</p>
                <p id="followers">Followers</p>
                <p id="following">Following</p>
                <button  class="btn btn-primary" id="follow-unfollow-button">follow</button>
                <p id="followers-count">10</p>
                <p id="following-count">5</p>
                <p id="posts-count">20</p>
                <br>
                <br>




        
        </div>
        
        
        <div class="edit-post">

            <form class="editedpostform">
            <label for="editpost">Edit Post</label>
            <input type="text" id="edit-post-content" name="post"><br><br>
            <input id="submit" type="submit" value="Submit">
            </form>

        </div>
        


 {% else %}


 <h1>Log in your self first</h1>


 {% endif %}





{% endblock %}


{% block script %}
    <script src="{% static 'network/twitter.js' %}"></script>
{% endblock %}



