#profile-image{
position: relative;
width: 111px;
height: 111px;
left: 675px;
filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
border-radius: 8px;
}

#username{
position: relative;
width: 101px;
height: 21px;
left: 680px;


font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #0f0d0d;
}



#posts{
position: absolute;
width: 34px;
height: 15px;
left: 614px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: center;

color: #92949F;
}

#followers{

position: absolute;
width: 56px;
height: 15px;
left: 691px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: center;

color: #92949F;

}

#following{

position: absolute;
width: 56px;
height: 15px;
left: 792px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: center;

color: #92949F;
}

#follow-unfollow-button{
position: absolute;
width: 86px;
height: 32px;
left: 872px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1px;
text-align: center;

color: #ffffff;


}





#followers-count{

position: absolute;
width: 26px;
height: 18px;
top: 230px;
left: 706px;


font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #92949F;

}

#following-count{



position: absolute;
width: 26px;
height: 18px;
left: 807px;
top: 230px;


font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #92949F;



}


#posts-count{
position: relative;
width: 18px;
height: 18px;
left: 621px;
top: 26px;



font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
/* identical to box height */

text-align: center;

color:  #92949F;
}

#post-image{
position: relative;
width: 225px;
height: 225px;
left: 62px;
filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
border-radius: 8px;
}

#post-owner{

    position: relative;
    left: 80px;
    font-size: 40px;
    color: #72747cf6;
   


}

#post-content{


    position: relative;
    left: 80px;
    font-size: 16px;


}

#post-time{


    position: relative;
    left:80px;
    font-size: 16px;
}

#post-like{

    position: relative;
    left:80px;
    font-size: 16px;


}

#like-button{


    position: relative;
    width: 55px;
    height: 55px;
    left: 80px;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
    border-radius: 8px;


}

#post-image-profile{
    position: relative;
    width: 225px;
    height: 225px;
    left: 50px;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
   
    }

#post-content-profile{


    position: relative;
    left: 80px;
    font-size: 16px;
    
    
    }

.edit-post{
    margin: 100px;
}


#following-people-post{

    margin: 70px;
    text-align: center;
    color: #72747cf6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
}

#feed{

    text-align: center;
    margin: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    color: #72747cf6;
}

.post-styling{
    padding: 30px;
    margin: 60px;
    border: 15px solid #72747cf6;
}

.post-styling-following{

    padding: 30px;
    margin: 150px;
    border: 15px solid #72747cf6;


}

.btn-primary{

    
    background-color: #72747cf6;

}

.btn-danger{

    width:35px;
    height: 35px;
    background-color: #aff387;
  
   
}






